@import url("https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@400;700&family=Chewy&display=swap");
* {
  scroll-behavior: smooth !important;
}
body {
  background: #0a4740 !important;
}
.bg_head {
  background-image: url("../src/Assets/images.webp/hero-bg.webp");
  background-size: 100% 100% !important;
  object-fit: cover !important;
}
.bg-btn {
  background-image: url("../src/Assets/images.webp/nav-btn.webp");
  background-size: 100% 100% !important;
  object-fit: cover !important;
}
.toke_bg {
  background-image: url("../src/Assets/images.webp/toke-bgg.webp");
  background-size: 100% 100% !important;
  object-fit: cover !important;
}
.road_bg {
  background-image: url("../src/Assets/images.png/road_bgg.png");
  background-size: 100% 100% !important;
  object-fit: cover !important;
}
.walking-img {
  animation: walk 9s steps(10) infinite, forward 10s linear infinite;
}
